--2015-05-07 11:54:26--  https://raw.githubusercontent.com/myasu26/jessie_basic_jp/master/.gitignore
Resolving raw.githubusercontent.com... 199.27.75.133
Connecting to raw.githubusercontent.com|199.27.75.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 267 [text/plain]
Saving to: '.gitignore.1'

     0K                                                       100% 86.9M=0s

2015-05-07 11:54:27 (86.9 MB/s) - '.gitignore.1' saved [267/267]

